
/*------------------------------------Fonts-----------------------------------*/
/* cyrillic-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTSUUniRZcd_wq8DYmIfsw2A.woff2) format('woff2');
unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTeXREeHhJi4GEUJI9ob_ak4.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTY0Uz7fbu6RM5MPetubMKio.woff2) format('woff2');
unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}

/* greek-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTfzy0yu4vcvNhe7QLuoE8rU.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTc9-ZSaZ3mOOsU9E1f6DGWc.woff2) format('woff2');
unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTYZI5FoslwusAsZHK_V0XCI.woff2) format('woff2');
unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTRUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2');
unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/K88pR3goAWT7BTt32Z01m1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/ttwNtsRpgsxVmgGGmiUOEltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}

/* greek-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/LWCjsQkB6EMdfHrEVqA1KVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/xozscpT2726on7jbcb_pAltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/59ZRklaO5bWGqF5A9baEEVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSiUUniRZcd_wq8DYmIfsw2A.woff2) format('woff2');
unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSuXREeHhJi4GEUJI9ob_ak4.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSo0Uz7fbu6RM5MPetubMKio.woff2) format('woff2');
unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}

/* greek-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSvzy0yu4vcvNhe7QLuoE8rU.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSs9-ZSaZ3mOOsU9E1f6DGWc.woff2) format('woff2');
unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSoZI5FoslwusAsZHK_V0XCI.woff2) format('woff2');
unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNShUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2');
unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzCUUniRZcd_wq8DYmIfsw2A.woff2) format('woff2');
unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzOXREeHhJi4GEUJI9ob_ak4.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzI0Uz7fbu6RM5MPetubMKio.woff2) format('woff2');
unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}

/* greek-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzPzy0yu4vcvNhe7QLuoE8rU.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzM9-ZSaZ3mOOsU9E1f6DGWc.woff2) format('woff2');
unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzIZI5FoslwusAsZHK_V0XCI.woff2) format('woff2');
unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzBUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2');
unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBrWJ8El2VFcUWHOh_Oq6BA8.woff2) format('woff2');
unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBhLwxQbNcFnuWuPk3YnjToI.woff2) format('woff2');
unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBvDtiuuJNge4XCX2Yxjz0ug.woff2) format('woff2');
unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC;
}

/* greek-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBnZwgMdXZ_smNJnor9b37uA.woff2) format('woff2');
unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBlvp_UfalQ96C-39B62FvR4.woff2) format('woff2');
unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBkqs5AeeBmydKTXp2rSeyjU.woff2) format('woff2');
unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBqg5eI2G47JWe0-AuFtD150.woff2) format('woff2');
unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*------------------------------------Fonts-----------------------------------*/



/*------------------------------------Reset-----------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background: #fff
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

dl, dt, dd, ol, ul, li {
	list-style: none;
}

.clear {
	clear: both;
}

a, a:hover {
	text-decoration: none;
}

.no_right_padding {
	padding-right: 0px;
}

/*------------------------------------Reset-----------------------------------*/



body {
	font-size: 13px;
	color: #2b2e2f;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	min-width: 768px;
	overflow-x: hidden;
}

.wrapper {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	width: 100%;
}

img {
	max-width: 100%
}

.space {
	height: 15px;
	display: block;
	clear: both;
	width: 100%;
}

.space2 {
	height: 500px;
	display: block;
	clear: both;
	width: 100%;
}

.space3 {
	height: 300px;
	display: block;
	clear: both;
	width: 100%;
}

.right_space {
	padding-right: 50px;
}

.sbHolder {
	outline: none;
}

.block1, block2, block3, block4, block5, block6 {
	width: 100%
}

table[class="tables"] {
	width: 100%;
}

table[class="tables"] tr {
	font-family: 12px
}

table[class="tables"] tr td {
	width: 50%;
	line-height: 23px;
	padding: 6px 10px;
	vertical-align: middle;
	border-left: 1px solid #CCC;
}

table[class="tables"] tr:nth-child(2n) {
	background: #e9eef2;
}

table[class="tables"] tr td a.blue {
	color: #0563c1;
	text-decoration: underline;
	line-height: 20px;
	font-size: 13px;
}

/*--------------header-------------*/

#header {
	width: 100%;
	min-height: 73px;
	background: #fff;
	padding: 15px 0px 10px 0px;
}

#header .logo {
	margin-left: 8px;
}

#header .user {
	max-width: 260px;
	width: 100%;
}

#header .user .imgwraper {
	float: left
}

#header .user .user_detail {
	float: right;
	padding: 8px 12px 10px 25px;
	max-width: 180px;
	width: 100%;
	min-height: 48px;
	color: #c0392b
}

#header .user .user_detail a i {
	margin-right: 5px;
	font-size: 13px;
}

#header .user .imgwraper {
	max-width: 60px;
	width: 100%;
	min-height: 60px;
	background: #deebf7;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

#header .right_area {
	max-width: 600px;
	width: 100%
}

#header .search {
	margin-right: 18px;
}

#header .search .ad_search {
	float: right;
	padding-right: 10px;
}

#header .search .ad_search a {
	font-size: 13px;
	color: #2980b9
}

#header .search .ad_search a:first-child {
	padding-right: 15px;
}

#header .user_detail p {
	font-size: 13px;
	color: #c0392b;
	margin-bottom: 10px;
	float: right;
	font-weight: 600;
}

#header .user_detail .right {
	float: right
}

#header .user_detail a {
	font-size: 13px;
	color: #c0392b;
	font-weight: 600
}

#header .right_area form input[type="text"] {
	min-width: 280px;
	width: 100%;
	min-height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	border: none;
	display: block;
	border: 1px solid #d1d1d1;
	background: url(../images/search_icon.png) no-repeat scroll;
	background-position: 254px 4px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10);
}

#nav {
	width: 100%;
	min-height: 40px;
	background: #2980b9;
	position: relative;
	padding: 3px 0px 3px 5px;
}

#nav ul {
	margin: 0;
	padding: 0
}

#nav ul li {
	float: left;
	list-style: none;
	margin: 0px 2px
}

#nav ul li a {
	float: left;
	display: block;
	color: #fff;
	background: #2980b9;
	padding: 10px 15px;
	text-decoration: none
}

#nav ul li a.active {
	background: #f5f5f5;
	color: #235170;
}

#nav ul li a:hover {
	background: #f5f5f5;
	color: #235170;
}

/*----------------Nav Start-----------------*/
.navbar-default {
	background-color: #2980b9;
	border-color: transparent;
	padding: 3px 0px;
}

.navbar {
	border-radius: 0px;
}

.navbar {
	border-top: 1px solid #bcd7e9;
	border-bottom: 1px solid #bcd7e9;
	margin-bottom: 0px;
	min-height: 28px;
	position: relative;
}

.nav > li {
	margin-right: 7px;
}

.navbar-nav > li > a {
	padding: 7px;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #235170;
	background-color: f5f5f5;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #f5f5f5;
	color: #235170;
}

.nav-tabs {
	border-bottom: none;
	background: #2980b9;
	;
	color: #fff;
	padding: 10px;
}

.nav-tabs > li > a {
	border: none;
	border-radius: 0px;
	color: #fff !important;
}

.nav-tabs > li > a:hover {
	color: #235170 !important
}

.nav > li > a {
	padding: 5px 12px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: #235170 !important;
	cursor: default;
	border: none;
}

/*----------------Nav End-----------------*/





#search_find {
	padding: 6px 0px 0px 0px;
}

#search_find .search_find_box {
	width: 100%;
	min-height: 155px;
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
}

#search_find .search_find_box .search_find_bar {
	border-bottom: 1px solid #e3e3e3;
	padding: 10px;
	font-size: 13px;
	background: #f5f5f5;
}

#search_find .search_find_box .search_find_bar p {
	color: #555555
}

#search_find .search_find_box .search_form {
	padding: 6px 18px 5px 8px;
}

.labele {
	max-width: 30%;
	width: 100%;
}

#search_find .search_find_box .search_form form label {
	max-width: 35%;
	width: 100%;
	margin-bottom: 2px;
	vertical-align: bottom;
	line-height: 30px;
	float: left
}

#search_find .search_find_box .search_form form select {
	max-width: 65%;
	width: 100%;
	min-height: 18px;
	padding: 4px 7px;
	margin-bottom: 3px;
	border: 2px solid #d4d4d4;
	outline: 0;
}

#search_find .search_find_box .search_form form select.year {
	max-width: 27%;
	width: 100%;
	min-height: 18px
}

#search_find .search_find_box .search_form form label.to {
	max-width: 12%;
	width: 100%;
}

#search_find .search_find_box input[type="submit"] {
	margin-left: 35%;
	background: #2980b9;
	color: #fff;
	border: none;
	padding: 8px 18px;
	border-radius: 4px;
	outline: 0;
}

#search_find {
	padding: 6px 0px 0px 7px;
}

#search_find .part_number_box {
	width: 100%;
	min-height: 89px;
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
}

#search_find .part_number_box .part_number_bar {
	border-bottom: 1px solid #e3e3e3;
	padding: 10px;
	font-size: 13px;
	background: #f5f5f5;
}

#search_find .part_number_box .part_number_bar p {
	color: #555555
}

#search_find .part_number_box .part_number_form {
	padding: 10px 17px 10px 8px
}

#search_find .part_number_box input[type="text"] {
	width: 100%;
	padding: 9px 6px;
	margin-bottom: 6px;
	border: 2px solid #d4d4d4;
	height: 36px;
	vertical-align: middle;
	outline: 0;
}

#search_find .part_number_box input[value="Enter part number"] {
	color: #b3b3b3;
	font-size: 13px;
}

#search_find .part_number_box input[type="submit"] {
	background: #2980b9;
	color: #fff;
	border: none;
	padding: 8px 18px;
	border-radius: 4px;
	outline: 0;
}

#search_find .ads {
	max-width: 160px;
	width: 100%;
	min-height: 160px;
	float: right;
	margin: 0px 10px 0px 0px;
}

#search_find .ads img {
	width: auto;
}

#hide_search {
	border-bottom: 1px solid #eeeeee;
	padding: 10px 6px;
}

#hide_search a {
	color: #c0392b;
	text-decoration: underline;
	clear: both;
	display: block;
}

#footer {
	background: #5d5d5d;
	padding: 9px 7px;
	color: #fff;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}

/*--------------------------2nd Page-------------------*/
#show_search {
	padding: 15px 5px 10px 0px;
	border-bottom: 1px solid #f0f0f0;
	clear: both
}

#show_search a {
	color: #c0392b;
	text-decoration: underline;
	font-weight: 300;
	float: right;
	display: block
}

/*--------------------------3rd Page-------------------*/
#product_id {
	padding: 9px
}

#product_id h2 {
	color: #34bea1;
	font-size: 16px;
	display: block
}

#product_id a {
	padding: 5px 15px 5px 7px;
	background: #2a3c51;
	color: #fff;
	margin-left: 5px;
	float: right;
}

#product_id a i {
	margin-right: 10px;
}

#product .slider img {
	width: auto;
	max-width: 100%
}

#product .product_notes {
	margin-top: 13px;
	margin-bottom: 10px;
	width: 100%;
	padding: 0px 0px 0px 5px
}

#product .product_notes h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
	padding-left: 10px;
}

#product .product_notes p {
	color: #606060;
	font-size: 13px;
	padding-left: 10px;
	line-height: 24px;
	max-height: 100px;
	overflow-y: auto;
}

#product .product_slider .product_slider_bar {
	padding: 7px;
	background: #2980b9;
	width: 100%;
}

#product .product_slider .product_slider_bar h2 {
	color: #fff
}

#product .product_slider .slider_wraper {
	border: 1px solid #2980b9;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

#product .product_attributes {
	width: 100%;
}

#product .product_attributes .product_attributes_bar {
	padding: 10px;
	font-size: 13px;
	background: #2980b9;
}

#product .product_attributes .product_attributes_bar h2 {
	color: #fff
}

#product .product_attributes .table {
	border: 2px solid #2980b9;
	font-size: 13px;
}

#product .product_attributes .table2 {
	border: 2px solid #2980b9;
	font-size: 13px;
}

#product .product_attributes .table3 {
	border: 2px solid #2980b9;
	font-size: 13px;
}

#product .product_attributes .table4 {
	border: 2px solid #2980b9;
	font-size: 13px;
}

#product .slider {
	background: #ccc;
	width: 100%;
	min-height: 195px;
	padding: 5px;
	padding-right: 85px;
}

.top_margin {
	margin-top: 10px;
}

.maintable {
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
}

.maintable ul.rowgroup {
	display: table-row-group;
	margin: 0;
	padding: 0;
}

.maintable li {
	display: table-row;
	width: 100%;
}

.maintable li span {
	display: table-cell;
	padding: 6px 10px;
	vertical-align: middle;
	width: 50%;
	line-height: 23px;
}

.maintable ul.rowgroup li:nth-child(even) {
	background: #e9eef2;
}

.maintable li span:nth-child(even) {
	border-left: 1px solid #cfd2d4;
}

.maintable li span a.blue {
	color: #0563c1;
	text-decoration: underline
}

#product .ads2 {
	max-width: 100%;
}

#product .ads2 img {
	border: 2px solid #e5e5e5
}

#product .ads3 {
	max-width: 100%;
	margin-top: 5px;
}

#product .ads3 img {
	border: 2px solid #e5e5e5
}

#product .ads_text {
	background: #f5f5f5;
	padding: 17px 20px 14px 10px;
	border: 2px solid #d8d8d8;
	margin-top: 3px;
}

#product .ads_text h2 {
	font-size: 20px;
	color: #000;
	margin-bottom: 10px;
}

#product .ads_text p {
	font-size: 20px;
	color: #c55a11
}

#enter_price input[type="text"] {
	max-width: 170px;
	width: 100%;
	min-height: 40px;
	padding: 6px 8px;
	margin-right: 2px;
	border: 2px solid #d8d8d8;
	outline: 0;
}

#enter_price input[type="text"].enter_your_notes {
	max-width: 320px;
	width: 100%;
	min-height: 40px;
	padding: 6px 8px;
	border: 2px solid #d8d8d8;
	outline: 0;
}

#enter_price input[value="Enter Price 1"] {
	color: #b3b3b3;
	font-size: 13px;
}

#enter_price input[value="Enter Price 2"] {
	color: #b3b3b3;
	font-size: 13px;
}

#enter_price input[value="Enter your notes here."] {
	color: #b3b3b3;
	font-size: 13px;
}

#enter_price a.calendar {
	color: #fff;
	padding: 10px 16px;
	border-radius: 5px;
	background: #2a3c51;
}

#enter_price a.check {
	color: #fff;
	background: #84d20c;
	border-radius: 100%;
	padding: 9px 10px;
	text-align: center;
	vertical-align: middle;
}

#enter_price a.close2 {
	color: #fff;
	background: #be5108;
	border-radius: 100%;
	padding: 9px 12px;
	text-align: center;
	vertical-align: middle;
	margin-left: 10px;
}

#enter_price a i {
	font-size: 13px;
}

/*-------------owl slider start---------------*/

#slider_wraper {
	min-height: 170px;
	border-top: 1px solid #ccc;
}

#owl-demo {
}

.owl-item {
}

#owl-demo .item {
	background: #fff;
	border-left: 1px solid #000;
	padding: 0px 0px;
	margin: 0px;
	color: #FFF;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
	padding: 10px;
}

#owl-demo .item p {
	color: #000;
	font-size: 13px;
}

#owl-demo .item a {
	color: #0563c1;
	font-size: 13px;
	text-decoration: underline
}

#owl-demo2 {
}

.owl-item2 {
}

#owl-demo2 .item {
	background: #fff;
	border-left: 1px solid #000;
	padding: 0px 0px;
	margin: 0px;
	color: #FFF;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-align: center;
	padding: 10px;
}

#owl-demo2 .item p {
	color: #000;
	font-size: 13px;
}

#owl-demo2 .item a {
	color: #0563c1;
	font-size: 13px;
	text-decoration: underline
}

.customNavigation {
	text-align: center;
}
//use styles below to disable ugly selection .customNavigation a {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-nav {
	height: 55px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.owl-nav .owl-prev {
	float: left;
	text-align: right;
}

.owl-nav .owl-next {
	float: right;
	text-align: left;
}

.owl-nav i {
	color: #848484;
	display: inline-block;
	font-size: 20px;
	line-height: 78px;
	background: #fff;
	vertical-align: middle;
}

.owl-nav .owl-prev i {
	margin-left: -16px;
	border-left: 1px solid #2980b9;
}

.owl-nav .owl-next i {
	margin-right: -16px;
	border-right: 1px solid #2980b9;
}

/*-------------owl slider end---------------*/





#recently {
	padding: 20px 15px 25px 15px
}

#recently h3 {
	font-size: 20px;
	font-weight: bold
}

#recently a {
	font-size: 16px;
	color: #cc3232;
	text-decoration: underline
}

#clear_all {
}

#clear_all .applications {
	width: 100%;
}

#clear_all .applications .applications_bar {
	background: #fafafa;
	padding: 8px 5px
}

#clear_all .applications .applications_bar h3 {
	color: #949494;
	font-size: 20px;
	font-weight: bold
}

#clear_all .applications .applications_bar a {
	font-size: 16px;
	color: #cc3232;
	text-decoration: underline
}

#clear_all .links {
	padding: 8px
}

#clear_all .links a {
	font-size: 13px;
	line-height: 20px;
	color: #0563c1;
	text-decoration: underline
}

#space_for_ads {
	margin-top: 30px;
}

#space_for_ads .img_box1 {
	float: left;
	border: 2px solid #e1e1e1;
	margin-right: 20px;
}

#space_for_ads .img_box1 img {
	width: auto;
}

#space_for_ads .img_box2 {
	float: left;
	border: 2px solid #e1e1e1;
	margin-right: 10px;
}

#space_for_ads .img_box2 img {
	width: auto
}

#space_for_ads .ads_box {
	background: #f5f5f5;
	min-height: 335px;
	width: 100%;
	border: 1px solid #dbdbdb;
	padding: 10px;
	float: left;
	font-weight: 600
}

#space_for_ads .ads_box h1 {
	color: #000;
	font-size: 22px;
}

#product_class {
	padding: 6px 18px 5px 8px
}

#product_class form label {
	max-width: 180px;
	width: 100%;
	margin-bottom: 2px;
	vertical-align: bottom;
	line-height: 30px;
	float: left;
	font-weight: 600;
}

#product_class form select {
	width: 100%;
	max-width: 300px;
	min-height: 18px;
	padding: 4px 7px;
	margin-bottom: 3px;
	border: 2px solid #d4d4d4;
	outline: 0;
	float: left;
}

#product_class form .load_btn input[type="submit"] {
	border: 2px solid #cccccc;
	color: #555555;
	padding: 6px 15px;
	border-radius: 3px;
	margin: 3px 0px 0px 8px;
	font-weight: 600;
	outline: 0;
}

#product_class .Product_left {
	width: 100%
}

#filter {
	margin-top: 15px
}

#filter .filter_by {
	padding: 12px 8px;
	color: #000;
	border-top: 4px solid #2980b9;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	font-weight: 600;
}

#filter .amperage {
	border: 1px solid #eeeeee;
	padding: 10px 5px 10px 10px
}

#filter .amperage p {
	line-height: 30px;
	text-decoration: underline;
	font-weight: 600;
}

#filter .amperage p:first-child {
	text-decoration: none;
	line-height: 10px;
}

#filter .amperage form label {
	max-width: 48%;
	width: 100%;
	margin-bottom: 2px;
	vertical-align: bottom;
	line-height: 30px;
	float: left;
	font-weight: 600;
}

#filter .amperage form select {
	max-width: 49%;
	width: 100%;
	min-height: 18px;
	padding: 4px 7px;
	margin-bottom: 5px;
	border: 2px solid #e1e1e1;
}

#filter .amperage form .load_btn input[type="submit"] {
	border: 1px solid #cccccc;
	color: #555555;
	padding: 4px 15px;
	margin: 29px 0px 0px 8px;
}

#filter .find_result {
	margin-top: 5px
}

#filter .find_result form input[type="reset"] {
	padding: 8px 15px;
	color: #fff;
	background: #c00000;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
}

#filter .find_result form input[type="submit"] {
	padding: 8px 15px;
	color: #fff;
	background: #2980b9;
	border-radius: 5px;
	border: none;
	margin-left: 5px;
	margin-top: 10px;
}

#filter .displaying_results h3 a {
	text-decoration: underline;
	color: #000
}

#filter .support {
	margin-top: 50px;
}

#filter .support p {
	font-size: 20px;
	color: #959595;
	padding: 8px 8px 10px 8px;
	border: 2px solid #eaeaea
}

#filter p span {
	color: #2980b9
}

.select_box {
	max-width: 65%;
	width: 100%;
	float: right
}

.select_main {
	width: 40%;
}

.select_main2 {
	width: 20%;
	text-align: center;
	float: left;
	line-height: 30px;
	vertical-align: middle;
}

.select_box2 {
	max-width: 60%;
	width: 100%;
	float: right
}

.select_box3 {
	max-width: 50%;
	width: 100%;
	float: right
}

.tab-content {
	padding: 0 30px;
	margin-top: 30px;
}

.select_box .select_main select {
	width: 100% !important;
	max-width: none !important;
}

/*----------------------login form--------------------------*/


.login_box {
	max-width: 500px;
	width: 100%;
	min-height: 500px;
	border: 2px solid #e7e7e7;
	padding: 10px;
	margin: 0 auto;
	margin-top: 70px;
}

.login_box .user_form {
	text-align: center
}

.login_box .catalog p {
	color: #000;
	font-size: 16px;
	margin-top: 10px;
}

.login_box .main_box {
	padding: 40px 60px 40px 60px
}

.login_box .main_box .user_form .user_wraper {
	max-width: 80px;
	width: 100%;
	min-height: 80px;
	margin: 0 auto
}

.login_box .main_box .user_form .user_wraper img {
	width: auto;
}

.login_box .main_box .user_form form input[type="text"] {
	width: 100%;
	min-height: 50px;
	border: 2px solid #c85145;
	border-radius: 5px;
	margin-top: 30px;
	outline: none
}

.login_box .main_box .user_form form input[value="Your username"] {
	text-align: center;
	color: #b3b3b3;
	font-size: 16px;
}

.login_box .main_box .user_form form input[type="text"] {
	width: 100%;
	min-height: 50px;
	border: 2px solid #c85145;
	border-radius: 5px;
	margin-top: 15px;
	outline: none
}

.login_box .main_box .user_form form input[value="Your password"] {
	text-align: center;
	color: #b3b3b3;
	font-size: 16px;
}

.login_box .main_box .user_form form .login_btn input[type="submit"] {
	background: #7bb657;
	color: #fff;
	font-size: 13px;
	border-radius: 5px;
	padding: 10px 21px;
	border: none;
	float: left;
	outline: none
}

.login_box .main_box .user_form form .login_btn {
	margin: 10px 0px 10px 0px;
}

.login_box .main_box .user_form form .login_btn a {
	background: #2980b9;
	color: #fff;
	font-size: 13px;
	border-radius: 5px;
	padding: 10px 21px;
	border: none;
	float: right;
	outline: none
}

.login_box .main_box .forgot li a {
	font-size: 13px;
	text-decoration: underline;
	color: #000;
	line-height: 18px;
	font-weight: bold
}

table {
	width: 100%;
}

@media (max-width: 1050px) {

#enter_price input.enter_your_notes[type="text"] {
	max-width: 200px;
}
}

@media (min-width: 990px) and (max-width: 1001px) {

#product_class form label {
	max-width: 34%;
}
}

@media (max-width: 700px) {

#product_class .Product_left {
	max-width: 100%;
	width: 100%;
}

#product_class form .load_btn input[type="submit"] {
	margin: 0;
}
}

@media (max-width: 600px) {

.nav-tabs > li {
	width: 100%;
	margin-top: 5px;
}
}

@media (max-width: 768px) {

body {
	overflow-x: scroll;
}

.tab-content {
	padding: 0 15px;
}
}

@media (max-width: 815px) {

#space_for_ads .ads_box {
	max-width: 46%;
}
}

@media (max-width: 1000px) {

#product .product_attributes .table4 {
	min-height: 52px;
}

#owl-demo .item p {
	color: #000;
	font-size: 13px;
}

#owl-demo .item a {
	color: #0563c1;
	font-size: 13px;
	text-decoration: underline
}
}

#show_search_filters {
	padding: 15px 0px 10px 0px;
	border-bottom: 1px solid #ccc;
}

#show_search_filters a {
	color: #c44639;
	font-size: 13px;
	float: right;
	line-height: 30px;
	margin-right: 10px;
	text-decoration: underline
}

.displaying {
	padding: 15px;
	color: #000000;
	font-size: 18px
}

.displaying a {
	color: #555555;
	text-decoration: underline;
	font-size: 13px
}

.table_info .table_bar {
	background: #f5f5f5;
	border: 2px solid #eeeeee;
	color: #eeeeee;
	padding: 10px;
	margin-bottom: 15px;
}

.table_info .table_bar .showing {
	color: #555555;
	line-height: 20px;
}

.table_info .table_bar .show_opt {
	color: #6a6a6a;
	margin-left: 10px;
}

.table_info .table_bar .show_opt select {
	vertical-align: middle;
	border: 2px solid #e1e1e1;
}

.table_info .table_bar .pages {
	color: #555555
}

.table_info .table_bar .pages input[type="text"] {
	width: 40px;
	margin: 0px 10px 0px 10px;
	border: 2px solid #e1e1e1;
}

.table_info .table_bar a.first {
	background: #2980b9;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 13px;
}

.table_info .table_bar a.previous {
	background: #949494;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 13px
}

.table_info .table_bar a.next {
	background: #2980b9;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	margin-left: 30px;
	font-size: 13px
}

.table_info .table_bar a.last {
	background: #2980b9;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 13px
}

.table_info .table_bar .page {
	color: #555555
}

.table_info .headergroup {
	background: #7f7f7f;
	color: #fff;
	border: 1px dashed #e1e1e1
}

.table_info .headergroup th {
	border: 1px dashed #e1e1e1;
	padding: 10px 0px 15px 15px;
	font-size: 13px;
}

.table_info .collapse-heading {
	background: #f5f5f5;
	border: 1px dashed #e1e1e1;
	color: #555555;
	cursor: pointer;
}

.table_info td {
	padding: 10px 13px 10px 13px;
	font-size: 13px;
	text-align: left;
	vertical-align: top;
}

.table_info .tabledata td {
	border: 1px dashed #e1e1e1;
	color: #000;
}

.table_info td.imgpan {
	text-align: center;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

.table_info td.imgpan:hover .hover_box {
	display: block;
}

.table_info .collapse-heading i {
	margin-left: 10px;
}

.no-padding {
	padding: 0 !important;
}

.hover_box {
	min-width: 340px;
	width: 100%;
	min-height: 109px;
	border: 2px solid #e1e1e1;
	padding: 10px 20px 20px 10px;
	position: absolute;
	right: 90%;
	top: 60%;
	z-index: 11;
	display: none;
	background: #f8ede6;
}

.hover_box i {
	background: #f8ede6;
	color: #be5007;
	font-size: 20px;
	padding: 3px;
	position: absolute;
	top: 0;
	right: 0;
}

.hover_box p {
	line-height: 20px;
	font-size: 13px;
	font-weight: 600
}

.hover_box p.vehicle {
	color: #a2a1a1;
	font-size: 15px;
}

.hover_box p span {
	color: #555555 !important
}

.hover_box p span.left_area {
	float: left;
	width: 40%;
}

.hover_box p span.right_area {
	float: left;
	width: 60%;
}

#owl-demo {
	border: 2px solid #2980b9;
}

#owl-demo2 {
	border: 2px solid #2980b9;
}

.clear {
	clear: both
}

.leftarea {
	width: 30%;
	margin-top: 6px;
	text-align: left;
}

.rightarea {
	width: 60%;
	text-align: left
}

#owl-demo .item {
	background: none repeat scroll 0 0 #fff;
	color: #FFFFFF;
	margin: 0px;
	padding: 10px 25px;
	text-align: center;
}

#owl-demo2 .item {
	background: none repeat scroll 0 0 #fff;
	color: #FFFFFF;
	margin: 0px;
	padding: 10px 25px;
	text-align: center;
}

.owl-prev {
	width: 24px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0;
	background: #fff url(../images/arrow.png) no-repeat scroll !important;
	background-position: 5px 25px !important;
	text-indent: -1000px !important;
	border-right: 1px solid #686868
}

.owl-next {
	width: 24px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	right: 0;
	background: #fff url(../images/arrow.png) no-repeat scroll !important;
	background-position: -40px 25px !important;
	text-indent: -1000px !important;
	border-left: 1px solid #686868
}
